<div class="wrap">
  <div class="d-flex justify-content-between p-5 align-items-center">
    <div class="logo">HAHWUL</div>
    <div class="navbar">
      <ul>
        <li><div (click)="navigateTo('/app/services')">Services</div></li>
        <li><div (click)="navigateTo('/app/updates')">Updates</div></li>
        <li><div (click)="navigateTo('/app/impressions')">Impressions</div></li>
      </ul>
    </div>
  </div>
  <div class="big-logo w-100">HAHWUL</div>
  <div class="small-logo w-100">Security Engineer, Rubyist/Gopher and H4cker</div>
</div>
