<div class="w-100 post p-4">
  <div class="d-flex justify-content-between header mb-3">
    <div>
      Helen Nguyen
    </div>
    <div ngbDropdown>
      <i class="bi bi-three-dots" id="post-1" ngbDropdownToggle></i>
      <div ngbDropdownMenu aria-labelledby="post-1">
        <button ngbDropdownItem>Edit post</button>
        <button ngbDropdownItem>Delete post</button>
        <button ngbDropdownItem>Share via</button>
      </div>
    </div>
  </div>
  <div class="content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eveniet ipsa veritatis repellendus incidunt corrupti voluptates officiis saepe obcaecati error veniam dolore quasi dolores, eligendi fuga porro vero. Exercitationem, ut?
  </div>
  <div class="footer d-flex gap-5 mt-3">
    <i class="bi bi-heart"></i>
    <i class="bi bi-chat"></i>
    <i class="bi bi-share"></i>
  </div>
</div>
