<div class="categories">
  <div class="header-title">Categories</div>
  <div>
    <div class="my-3" *ngFor="let tag of tags">
      <label class="container"
        >{{ tag }}
        <input
          type="checkbox"
          [value]="tag"
          [checked]="chosenTags.indexOf(tag) >= 0"
          (click)="filterByTags(tag)"
        />
        <span class="checkmark"></span>
      </label>
    </div>
  </div>
</div>
<div [formGroup]="newPost" class="form-post pt-4">
  <div>
    <input class="title mb-4" formControlName="title" contenteditable placeholder="Target">
    <input class="title mb-4" formControlName="imageURL" contenteditable placeholder="Image URL">
    <button class="btn" (click)="post()">Post</button>
  </div>
  <div class="mt-2">
    <textarea class="content" title="content" formControlName="description"
    placeholder="Description"></textarea><br/>
    <small class="mb-3">* Content of part can not empty</small>
  </div>
  <div class="mt-2">
    <textarea class="content" title="content" formControlName="request"
    placeholder="Request"></textarea><br/>
    <small class="mb-3">* Content of part can not empty</small>
  </div>
  <div class="mt-2">
    <textarea class="content" title="content" formControlName="response"
    placeholder="Response"></textarea><br/>
    <small class="mb-3">* Content of part can not empty</small>
  </div>
</div>
<nz-alert
  id="popup-alert"
  *ngFor="let status of statusPost"
  [nzType]="status === 'success' ? 'success' : 'warning'"
  [nzMessage]="status === 'success' ? 'Post Success' : 'Ops'"
  [nzDescription]="
    status === 'success'
      ? 'You can back to home to see newest update'
      : 'Check again before post.'
  "
  nzShowIcon
></nz-alert>
