<div class="categories">
  <div class="header-title">Categories</div>
  <div>
    <div class="my-3" *ngFor="let tag of tags">
      <label class="container"
        >{{ tag }}
        <input
          type="checkbox"
          [value]="tag"
          [checked]="chosenTags.indexOf(tag) >= 0"
          (click)="filterByTags(tag)"
        />
        <span class="checkmark"></span>
      </label>
    </div>
  </div>
</div>
<div [formGroup]="newPost" class="mt-4">
  <div>
  <input class="title mb-4" formControlName="title" contenteditable placeholder="Target">
    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12.1549 3.30012L4.62907 11.2659C4.3449 11.5684 4.0699 12.1643 4.0149 12.5768L3.67574 15.5468C3.55657 16.6193 4.32657 17.3526 5.3899 17.1693L8.34157 16.6651C8.75407 16.5918 9.33157 16.2893 9.61574 15.9776L17.1416 8.01178C18.4432 6.63678 19.0299 5.06928 17.0041 3.15345C14.9874 1.25595 13.4566 1.92512 12.1549 3.30012V3.30012Z" stroke="#FAFAFA" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M10.8992 4.62915C11.0913 5.85827 11.6862 6.98877 12.5904 7.84321C13.4946 8.69765 14.657 9.22764 15.895 9.34998M2.75 20.1667H19.25" stroke="#FAFAFA" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </div>
  <div>
    <input class="title mb-4" formControlName="imageURL" contenteditable placeholder="Image URL">
      <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.1549 3.30012L4.62907 11.2659C4.3449 11.5684 4.0699 12.1643 4.0149 12.5768L3.67574 15.5468C3.55657 16.6193 4.32657 17.3526 5.3899 17.1693L8.34157 16.6651C8.75407 16.5918 9.33157 16.2893 9.61574 15.9776L17.1416 8.01178C18.4432 6.63678 19.0299 5.06928 17.0041 3.15345C14.9874 1.25595 13.4566 1.92512 12.1549 3.30012V3.30012Z" stroke="#FAFAFA" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M10.8992 4.62915C11.0913 5.85827 11.6862 6.98877 12.5904 7.84321C13.4946 8.69765 14.657 9.22764 15.895 9.34998M2.75 20.1667H19.25" stroke="#FAFAFA" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
  <div class="mt-2 w-100">
    <textarea class="content" title="content" formControlName="description"
    placeholder="Description"></textarea><br/>
    <small class="mb-3">* Content of part can not empty</small>
  </div>
  <div class="mt-2 w-100">
    <textarea class="content" title="content" formControlName="request"
    placeholder="Request"></textarea><br/>
    <small class="mb-3">* Content of part can not empty</small>
  </div>
  <div class="mt-2 w-100">
    <textarea class="content" title="content" formControlName="response"
    placeholder="Response"></textarea><br/>
    <small class="mb-3">* Content of part can not empty</small>
  </div>
  <div>
    <button class="btn mt-2 w-25" (click)="post()">Post</button>
  </div>
</div>
<nz-alert
  id="popup-alert"
  *ngFor="let status of statusPost"
  [nzType]="status === 'success' ? 'success' : 'warning'"
  [nzMessage]="status === 'success' ? 'Post Success' : 'Ops'"
  [nzDescription]="
    status === 'success'
      ? 'You can back to home to see newest update'
      : 'Check again before post.'
  "
  nzShowIcon
></nz-alert>
