<div class="w-25 wrap" [formGroup]="formUserSignUp">
  <h3 class="wrap-title">Start your journey with us.</h3>
  <small class="wrap-description">Discover the world's best community of developers and hackers</small>
  <input formControlName="username" class="mt-3" type="text" placeholder="Enter username" />
  <input formControlName="password" type="password" placeholder="Enter password" />
  <input
    formControlName="confirmPassword"
    type="password"
    placeholder="Enter confirm password"
  />
  <input formControlName="email" type="email" placeholder="Enter email" (keyup.enter)="signUp()" />
  <div class="link mb-3" [routerLink]="['/sign-in']">
    Already has an account?
  </div>
  <div class="w-100 btn" type="submit" (click)="signUp()" (keyup.enter)="signUp()">Sign up</div>
</div>
